<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuanLyMauKiemNghiem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="XuatPYCPT" connectionString="XpoProvider=InMemoryDataStore;data source=C:\Users\duong\Desktop\QuanLyMauKiemNghiem\QuanLyMauKiemNghiem\bin\Debug\XuatPYCPT.xml;read only=True" />
    </connectionStrings>
    <userSettings>
        <QuanLyMauKiemNghiem.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
        </QuanLyMauKiemNghiem.Properties.Settings>
    </userSettings>
</configuration>